@charset "utf-8";
/* CSS Document */

/* TABLE OF CONTENTS
*
*  1. CSS Importing
*    1.1. Fonts
*      1.1.1. Share Tech
*  2. General CSS Styling
*  3. Game Context
*  4. Menu
*  5. Ghost Image and Turret Buttons
*/

/* CSS Importing */
  /* Fonts */
    /* Share Tech */    @import url(http://fonts.googleapis.com/css?family=Share+Tech);

/* General CSS Styling */
html {
	height: 100%;
}

body {
	padding: 0px;
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(#000300, #001F00, #000300); /* For Safari */
	background: -o-linear-gradient(#000300, #001F00, #000300); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000300, #001F00, #000300); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000300, #001F00, #000300); /* Standard syntax */
	margin:auto;
}

#wrapper {
	margin:auto;
	height:100%;
	display:table;
	box-shadow: 0px 0px 250px black;
}

#innerWrapper {
	display:table-cell;
	vertical-align:middle;
	padding:auto;
}

/* Game Context */
#menu-wrapper {
	border: 5px solid #4C4C4C;
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	border-left: none;
	position:relative;
	float:right;
	background-color:#003D00;
	background: -webkit-linear-gradient(#000300, #000300, #001F00, #000300, #000300); /* For Safari */
	background: -o-linear-gradient(#000300, #000300, #001F00, #000300, #000300); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000300, #000300, #001F00, #000300, #000300); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000300, #000300, #001F00, #000300, #000300); /* Standard syntax */
}

#bar-wrapper {
	background-color:#000300;
	vertical-align:central;
	font-family: 'Share Tech', sans-serif;
	font-size:100%;
	display: table;
	height: 400px;
	#position: relative;
	overflow: hidden;
}

#gameCanvas {
    width:  100%;
	height: 100%;
    margin: auto;
	border: 5px solid #4C4C4C;
	border-right: none;
	border-radius: 15px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	position:relative;
	float:left;
}

/* Menu */
.button {
	background:none;
	border:none;
	width:100px;
	height:100px;
	margin:0px;
	padding:0px;
}

#turret {
	background-color:blue;
}

#second {
	background-color:red;
}

#third {
	background-color:lime;
}

#ui-menu {
	background-color:darkgrey;
	position:relative;
	float:right;
}

#turret-menu {
	background-color:darkgrey;
	position:relative;
	float:right;
}

#bar-wrapper, #bar-wrapper p, #barwrapper tr, #bar-wrapper tr td {
	padding:0px;
	margin:0px;
	text-align:right !important;
}

#health-wrapper {
	border-bottom: 2px solid #005C00;
	color:white;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	background-image:url(../images/heart.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:5px;
}

#money-wrapper {
	color:white;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	background-image:url(../images/money.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-right:5px;
}

#buttonsWrapper {
	height:100px;
	display:table-cell;
	vertical-align:central;
}

/* Ghost Images and Turret Buttons */
.ghostImage {
	width:100px;
	height:100px;
	opacity:0.5;
	position:absolute;
	box-shadow: 0px 0px 25px green inset;
}

#machinegun, #machinegun_turret {
	background-color:gold;
}

#slow, #slow_turret {
	background-color:cyan;
}

#laser, #laser_turret {
	background-color:darkred;
}

#plasma, #plasma_turret {
	background-color:darkturquoise;
}

#detector, #detector_turret {
	background-color:darkslateblue;
}

#remove, #remove_turret {
	background-color:green;
}

#hover {
	background-color:rgba(0,0,0,0.75);
	border-radius:15px;
	box-shadow:0px 0px 10px black;
	color:white;
	position:fixed;
	overflow:hidden;
	padding:10px;
}

#hover p {
	font-size:100%;
	padding:0px;
	margin:0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#title {
	font-size:150%;
	font-family: 'Share Tech', sans-serif;
}

#description {
}

#slowt {
	background-image:url(../images/snowflake.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:inherit;
	color:cyan;
}

#reveal {
	background-image:url(../images/eye.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:inherit;
	color:lightgreen;
}

#price {
	background-image:url(../images/money.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:inherit;
	color: orange;
}

.notifyjs-bootstrap-success {
	background-color:rgba(0,0,0,0.75) !important;
	color:lime !important;
	text-shadow:0px 0px 1px lime !important;
	border:1px solid green !important;
	box-shadow: 0px 0px 10px green, 0px 0px 5px green inset;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image:url(../images/tick.png) !important;
	background-size: 25px;
	padding-left:30px !important;
}

.notifyjs-bootstrap-info {
	background-color:rgba(0,0,0,0.75) !important;
	color:lightblue !important;
	text-shadow:0px 0px 1px lightblue !important;
	border:1px solid blue !important;
	box-shadow: 0px 0px 10px blue, 0px 0px 5px blue inset;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image:url(../images/info.png) !important;
	background-size: 25px;
	padding-left:30px !important;
}

.notifyjs-bootstrap-warn {
	background-color:rgba(0,0,0,0.75) !important;
	color:yellow !important;
	text-shadow:0px 0px 1px yellow !important;
	border:1px solid yellow !important;
	box-shadow: 0px 0px 10px yellow, 0px 0px 5px yellow inset;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image:url(../images/warn.png) !important;
	background-size: 25px;
	padding-left:30px !important;
}