@charset "utf-8";
/* CSS Document */

body {
	padding: 0px;
	width:100%;
	height:100%;
	margin:auto;
	background-color:gray;
}

.button {
	background:none;
	border:none;
	width:100px;
	height:100px;
	margin:0px;
	padding:0px;
	display: inline-block;
	margin-bottom:50px;
}

#first {
	background-color:blue;
}

#second {
	background-color:red;
}

#third {
	background-color:lime;
}

#ui-menu {
	background-color:darkgrey;
	width:100px;
	height:400px;
	position:fixed;
	right:0px;
	top:calc(50% - 200px);
}

#gameCanvas {
    width:  100%;
	height: 100%;
    margin: auto;
	border: 5px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 25px black;
}

.ghostImage {
	width:100px;
	height:100px;
	opacity:0.5;
	position:absolute;
}

#blue {
	background-color:blue;
}

#buttonsWrapper {
	height:100px;
}
/*
.slideUp {
	bottom: -0px;
	animation: ease 0.5s slideUp;
	-webkit-animation: ease 0.5s slideUp;
}

.slideDown {
	bottom: -100px;
	animation: ease 0.5s slideDown;
	-webkit-animation: ease 0.5s slideDown;
}

@keyframes slideUp {
	from {bottom: -100px;}
	to {bottom: 0px;}
}

@-webkit-keyframes slideUp {
	from {bottom: -100px;}
	to {bottom: 0px;}
}

@keyframes slideDown {
	from {bottom: 0px;}
	to {bottom: -100px;}
}

@-webkit-keyframes slideDown {
	from {bottom: 0px;}
	to {bottom: -100px;}
}
*/